@import "fonts";
@import "variables";

* {
  margin: 0;
  padding: 0;
}

body {
  background: #a5d6d4;
}

input:focus, textarea:focus {
    outline: 0;
}

.an-header {
  background: url(../../img/an-header.jpg) no-repeat top center;
  height: 767px;
  min-width: 1024px;
}

.an-ct {
  margin: 0 auto;
  width: 1230px
}

.an-signup {
  float: right;
  max-width: 440px;

  .an-title {
    margin: 0 auto 10px auto;
    text-align: center;
  }

  .an-subtitle {
    margin: 0 auto 35px auto;
    text-align: center;
  }
}

h1 {
  height: 267px;
  margin: 45px auto;
  width: 267px;

  a {
    background: url(../../img/an-logo.png) no-repeat;
    display: block;
    font: 0/0 a;
    height: 267px;
  }
}

.an-title {
  color: #fff;
  font-family: $flama-semicondensed;
  font-size: 26px;
}

.an-subtitle {
  color: #fff;
  font-family: $flama-book;
  font-size: 21px;
}

.an-form {
  .an-input {
    margin-bottom: 20px;
    width: 320px;
  }
}

.an-al {
  text-align: center;
}

.an-input {
  border: none;
  border-radius: 20px;
  display: inline-block;
  font-family: $flama-book;
  font-size: 13px;
  padding: 10px 15px;
  text-transform: uppercase
}

.an-button {
  transition: all ease 1s;

  background: #ea002a;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $gravur-condensed-bold;
  font-size: 20px;
  padding: 10px 25px;
  text-transform: uppercase;

  &:hover {
    background: red;
  }
}

input[disabled] {
  cursor: not-allowed;
}

.an-signin {
  color: #fff;
  display: block;
  font-family: $flama-book;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.an-content {
  background: url(../../img/an-content.jpg) no-repeat top center;
  height: 907px;
  position: relative;
}

.an-share {
  padding-top: 345px;
  width: 720px;

  .an-title, .an-subtitle {
    color: #686868;
    text-align: center
  }

  .an-form {
    margin-top: 50px;
  }

  .an-cform {
    clear: both;
  }

  .an-input {
    float: left;
  }

  .an-input[type=email] {
    float: right;
  }

  .an-button {
    margin-top: 30px;
  }
}

.an-footer {
  background: url(../../img/an-footer.jpg) no-repeat top center;
  /*background-size: cover;*/
  height: 932px;
}

.an-clips {
  padding-top: 310px;
  position: relative;
  z-index: 2;
}

.an-clip {
  background: url(../../img/an-clip.png) no-repeat top center;
  display: inline-block;
  height: 148px;
  margin: 0 110px;
  width: 61px;

  &:first-child {
    margin-right: 150px;
  }

  &:last-child {
    margin-left: 150px;
  }
}

.rotated {
  -ms-transform: rotate(13deg);
  -webkit-transform: rotate(13deg);
  transform: rotate(13deg);
}

.an-polaroid {
  position: relative;
  top: -70px;

  img {
    position: absolute;
  }

  .nd {
    left: 280px;
    top: -20px;
  }

  .rd {
    left: 570px;
    top: -10px;
  }

  .th {
    left: 865px;
    top: -29px;
  }
}

.an-social {
  display: inline-block;
  margin-top: 360px;

  li {
    background: url(../../img/an-sprite.png) no-repeat;
    display: inline-block;
    list-style: none;
  }

  a {
    display: block;
    font: 0/0 a;
  }

  .an {
    display: block;
  }

  .fb {
    background-position: 0 -36px;
  }

  .in {
    background-position: -34px -36px;
  }
}

.fb, .in {
  height: 32px;
  width: 32px;

  a {
    height: 32px;
  }
}

.an {
  height: 34px;
  width: 153px;

  a {
    height: 34px
  }
}

.an-overlay {
  background: rgba(0,0,0,0.3);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hide {
  display: none;
}

.an-login, .an-invites {
  background: #fff;
  border-radius: 25px;
  left: 50%;
  margin-left: -219px;
  margin-top: -170px;
  padding: 30px 0;
  position: absolute;
  top: 50%;
  width: 437px;
  z-index: 2;

  .an-title {
    color: red;
    font-family: $gravur-condensed-bold;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .an-subtitle {
    color: #888;
    text-align: center;
  }

  .an-input {
    border: 1px solid #cbcbcb;
    margin: 20px 0;
  }
}

.an-welcome {
  background: #fff;
  border-radius: 45px;
  padding: 10px 0 15px;
  width: 454px;

  .an-title, .an-subtitle {
    color: #666;
    margin: 0;
  }
}

.an-invites {
  text-align: center;

  .an-button {
    border: none;
    margin: 20px 0 0;
    padding: 10px 85px;
    text-decoration: none;
  }
}

.an-close {
  transition: all ease 1s;

  background: #ea002a;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: $flama-book;
  font-size: 13px;
  height: 16px;
  padding: 6px;
  position: absolute;
  right: -25px;
  top: -25px;
  text-align: center;
  width: 16px;

  &:hover {
    background: red;
  }
}
