@import "fonts";

$flama-book: "flamasemicondensed-basic";
$flama-semicondensed: "FlamaSemicondensed-Medium";
$gravur-condensed-bold: "GravurCondensed-Bold";
$gravur-condensed-regular: "GravurCondensed-Regular";

.an-header {
  background: url(../img/an-header.jpg) no-repeat top center;
  /*background-size: cover;*/
  height: 767px;
  min-width: 1024px;
}

.an-signup {
  float: right;
  max-width: 440px;

  .an-title {
    margin: 0 auto 10px auto;
    text-align: center;
  }

  .an-subtitle {
    margin: 0 auto 35px auto;
    text-align: center;
  }
}

h1 {
  height: 267px;
  margin: 45px auto;
  width: 267px;

  a {
    background: url(../img/an-logo.png) no-repeat;
    display: block;
    font: 0/0 a;
    height: 267px;
  }
}

.an-title {
  color: #fff;
  font-family: $flama-semicondensed;
  font-size: 26px;
}

.an-subtitle {
  color: #fff;
  font-family: $flama-book;
  font-size: 21px;
}

.an-form {
  .an-input {
    margin-bottom: 20px;
    width: 320px;
  }
}

.an-cform {
  text-align: center;
}

.an-input {
  border: none;
  border-radius: 20px;
  display: inline-block;
  font-family: $flama-book;
  font-size: 13px;
  padding: 10px 15px;
  text-transform: uppercase
}

.an-button {
  transition: all ease 1s;
  background: #ea002a;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $gravur-condensed-bold;
  font-size: 20px;
  padding: 10px 25px;
  text-transform: uppercase;

  &:hover {
    background: red;
  }
}

.an-signin {
  color: #fff;
  display: block;
  font-family: $flama-book;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.an-content {
  background: url(../img/an-content.jpg) no-repeat top center;
  /*background-size: cover;*/
  height: 907px;
}

.an-share {
  padding-top: 345px;
  width: 720px;

  .an-title, .an-subtitle {
    color: #686868;
    text-align: center
  }

  .an-form {
    margin-top: 50px;
  }

  .an-cform {
    clear: both;
  }

  .an-input {
    float: left;
  }

  .an-input[type=email] {
    float: right;
  }
}

.an-footer {
  background: url(../img/an-footer.jpg) no-repeat top center;
  /*background-size: cover;*/
  height: 932px;
}

.an-ct {
  margin: 0 auto;
  max-width: 1230px
}
