@import "fonts";

$flama-book: "flamasemicondensed-basic";
$flama-semicondensed: "FlamaSemicondensed-Medium";
$gravur-condensed-bold: "GravurCondensed-Bold";
$gravur-condensed-regular: "GravurCondensed-Regular";
