@font-face {
  font-family: 'FlamaSemicondensed-Medium';
  src: url("../fonts/FlamaSemicondensed-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FlamaSemicondensed-Medium.woff") format("woff"), url("../fonts/FlamaSemicondensed-Medium.ttf") format("truetype"), url("../fonts/FlamaSemicondensed-Medium.svg#FlamaSemicondensed-Medium") format("svg"); }
@font-face {
  font-family: 'GravurCondensed-Bold';
  src: url("../fonts/GravurCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GravurCondensed-Bold.woff") format("woff"), url("../fonts/GravurCondensed-Bold.ttf") format("truetype"), url("../fonts/GravurCondensed-Bold.svg#GravurCondensed-Bold") format("svg"); }
@font-face {
  font-family: 'GravurCondensed-Regular';
  src: url("../fonts/GravurCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GravurCondensed-Regular.woff") format("woff"), url("../fonts/GravurCondensed-Regular.ttf") format("truetype"), url("../fonts/GravurCondensed-Regular.svg#GravurCondensed-Regular") format("svg"); }
@font-face {
  font-family: 'flamasemicondensed-basic';
  src: url("../fonts/flamasemicondensed-basic.eot?#iefix") format("embedded-opentype"), url("../fonts/flamasemicondensed-basic.woff") format("woff"), url("../fonts/flamasemicondensed-basic.ttf") format("truetype"), url("../fonts/flamasemicondensed-basic.svg#flamasemicondensed-basic") format("svg"); }
.an-header {
  background: url(../img/an-header.jpg) no-repeat top center;
  /*background-size: cover;*/
  height: 767px;
  min-width: 1024px; }

.an-ct {
  margin: 0 auto;
  width: 1230px; }

.an-signup {
  float: right;
  max-width: 440px; }
  .an-signup .an-title {
    margin: 0 auto 10px auto;
    text-align: center; }
  .an-signup .an-subtitle {
    margin: 0 auto 35px auto;
    text-align: center; }

h1 {
  height: 267px;
  margin: 45px auto;
  width: 267px; }
  h1 a {
    background: url(../img/an-logo.png) no-repeat;
    display: block;
    font: 0/0 a;
    height: 267px; }

.an-title {
  color: #fff;
  font-family: "FlamaSemicondensed-Medium";
  font-size: 26px; }

.an-subtitle {
  color: #fff;
  font-family: "flamasemicondensed-basic";
  font-size: 21px; }

.an-form .an-input {
  margin-bottom: 20px;
  width: 320px; }

.an-al {
  text-align: center; }

.an-input {
  border: none;
  border-radius: 20px;
  display: inline-block;
  font-family: "flamasemicondensed-basic";
  font-size: 13px;
  padding: 10px 15px;
  text-transform: uppercase; }

.an-button {
  transition: all ease 1s;
  background: #ea002a;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "GravurCondensed-Bold";
  font-size: 20px;
  padding: 10px 25px;
  text-transform: uppercase; }
  .an-button:hover {
    background: red; }

.an-signin {
  color: #fff;
  display: block;
  font-family: "flamasemicondensed-basic";
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  width: 100%; }

.an-content {
  background: url(../img/an-content.jpg) no-repeat top center;
  /*background-size: cover;*/
  height: 907px; }

.an-share {
  padding-top: 345px;
  width: 720px; }
  .an-share .an-title, .an-share .an-subtitle {
    color: #686868;
    text-align: center; }
  .an-share .an-form {
    margin-top: 50px; }
  .an-share .an-cform {
    clear: both; }
  .an-share .an-input {
    float: left; }
  .an-share .an-input[type=email] {
    float: right; }
  .an-share .an-button {
    margin-top: 30px; }

.an-footer {
  background: url(../img/an-footer.jpg) no-repeat top center;
  /*background-size: cover;*/
  height: 932px; }

.an-clips {
  padding-top: 310px;
  position: relative;
  z-index: 2; }

.an-clip {
  background: url(../img/an-clip.png) no-repeat top center;
  display: inline-block;
  height: 148px;
  margin: 0 110px;
  width: 61px; }
  .an-clip:first-child {
    margin-right: 150px; }
  .an-clip:last-child {
    margin-left: 150px; }

.rotated {
  -ms-transform: rotate(13deg);
  -webkit-transform: rotate(13deg);
  transform: rotate(13deg); }

.an-polaroid {
  position: relative;
  top: -70px; }
  .an-polaroid img {
    position: absolute; }
  .an-polaroid .nd {
    left: 280px;
    top: -20px; }
  .an-polaroid .rd {
    left: 570px;
    top: -10px; }
  .an-polaroid .th {
    left: 865px;
    top: -29px; }

.an-social {
  display: inline-block;
  margin-top: 360px; }
  .an-social li {
    background: url(../img/an-sprite.png) no-repeat;
    display: inline-block;
    list-style: none; }
  .an-social a {
    display: block;
    font: 0/0 a; }
  .an-social .an {
    display: block; }
  .an-social .fb {
    background-position: 0 -36px; }
  .an-social .in {
    background-position: -34px -36px; }

.fb, .in {
  height: 32px;
  width: 32px; }
  .fb a, .in a {
    height: 32px; }

.an {
  height: 34px;
  width: 153px; }
  .an a {
    height: 34px; }

/*# sourceMappingURL=landing.css.map */
